.container-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 68.71px;
  padding: 36px 0px 25px 30px;
  border-bottom: 1px solid #e2e2e2;
}

.container-register-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.container-register-header h2 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-align: left;
}

.container-register-header p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;

  width: 340px;
}

.container-register-header span {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.container-register-input {
  border-bottom: 1px solid var(--color-1);
  width: 100%;
}

.container-register-input::placeholder {
  font-family: var(--font-1);
  text-transform: uppercase;
  color: var(--color-1);
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
}

.container-register-button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.container-register-button-item {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  width: 190px;
  height: 50px;
  background-color: transparent;
  font-family: var(--font-1);
}

@media (min-width: 1025px) {
  .container-register {
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    margin-top: 0px;
    width: 388px;
  }

  .container-register-header {
    display: flex;
    gap: 10px;
  }

  .container-register-header h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: left;
    width: 217px;
  }

  .container-register-header p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    width: 177px;
  }

  .container-register-header span {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
  }

  .container-register-button {
    justify-content: start;
  }
}
