.container-section-banner-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-section-banner-1-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  width: 95%;
  padding: 10px 0px;
}

.container-section-banner-1-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 30px;
  color: var(--color-2);
  gap: 13px;
  max-width: 295px;
  position: absolute;
  z-index: 1000000;
}

.container-section-banner-1-span {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.6em;
  text-align: center;
  text-transform: uppercase;
}

.container-section-banner-1-title {
  font-size: 28px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-top: 4px;
  text-transform: uppercase;
}

.container-section-banner-1-paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin-top: 12px;
}

.container-section-banner-1-button {
  width: 295px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--color-2);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--color-2);
  text-transform: uppercase;
}

.container-section-banner-1-img {
  width: 100%;
}

@media (min-width: 1025px) {
  .container-section-banner-1 {
    flex-direction: unset;
    gap: 20px;
  }

  .card-1 {
    padding-left: 10px;
  }

  .card-2 {
    padding-right: 10px;
  }
}
