.container-footer-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 57px 0px 39px 0px;
}

.container-footer-mobile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.container-footer-mobile-card p {
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}
